# .gitignore
*.log
.vscode/*      
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
README.txt
credentials.json
token.json
scripts/*
!scripts/generate_vscode_debug_launches.py
!scripts/generate_structure_doc.py
googletest/
/build/*
!/build/golden_files/
!/build/golden_files/**
archived/
testing/
test/testing/Temporary
