# .gitignore
*.log
.vscode/*      
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
README.txt
credentials.json
token.json
submitToDoc.pyw
submitToDoc.py
googletest/
build/
archived/
testing/
test/testing/Temporary
